#Car {
    .Car__title {
        padding: $pd-2;
        .Car-line {
            width: 80px;
            height: 3px;
            background-color: $color-white;
            margin-bottom: $mg-1;
        }
        .Car-line--2 {
            width: 100%;
            height: 1px;
            background-color: $color-light-grey;
        }
        h3 {
            color: $color-white;
            font-size: $fs-4;
            margin-bottom: $mg-2;
        }
    }
    .card {
        border: none;
        span {
            border: none;
            text-align: center;
        }
        .card-body {
            padding: $pd-1;
            text-align: center;
            background: $color-black;
            .card-title {
                color: $color-white;
                font-size: $fs-1;
            }
        }
    }
}