#welcome{
 background: $color-white;
    .welcome-title{  
        padding-left:$pd-5;
        padding-top:$mg-5;
        text-align:left;
        color: $color-dark;
        .welcome-line{
            width:80px;
            height:3px;
            background-color:$color-black;
            margin-bottom:$mg-1;
        }
        h1{
            font-size:$fs-4;
            margin-bottom:$mg-2;
        }
    }
}

