.dropdown {
    display: inline-block;
    .dropbtn {
        color: $color-white;
        border: none;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        height: 40rem;
        background-color: $color-white;
        right: 0;
        z-index: 1;
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
                background-color: $color-white;
            }
        }
        &::before,
        &::after {
            bottom: 100%;
            left: 97%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(227, 227, 222, 0);
            border-bottom-color: $color-white;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(245, 243, 244, 0);
            border-bottom-color: $color-white;
            border-width: 16px;
            margin-left: -16px;
        }
        .carousel {
            .carousel__Car {
                margin-top: 1rem;
                li {
                    background: $color-dark;
                }
            }
            .fa-chevron-left,
            .fa-chevron-right {
                color: $color-dark;
                font-size: $fs-1;
            }
        }
    }
}